<!-- Issue Modal -->
<div id="issue-modal" class="w3-modal">
    <div class="w3-modal-content w3-card-3 w3-animate-top" style="max-width:600px">
        <header class="w3-container w3-indigo">
            <h2>Tracking Issue</h2>
        </header>
        <div class="w3-container">
            <p>
                While we work on more sophisticated ways for you to let us know about any issues (or positive feedback),
                please do contact <em>ip914</em>.
                <br>
                <strong>#nospam</strong>
            </p>
        </div>
        <div class="w3-container w3-light-grey w3-padding">
            <button class="w3-btn w3-block w3-blue-grey w3-ripple w3-padding"
                    onclick="hideElement('issue-modal')">Cancel
            </button>
        </div>
    </div>
</div>