<!doctype html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>

    <title>
        {% block title%}
        The Template App
        {% endblock %}
    </title>

    {% endblock %}
</head>

<body>

{% block topbar %}
    {% include "bars/top_bar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "bars/sidebar.html" %}
{% endblock %}

<!-- Overlay effect when opening sidebar -->
<div class="w3-overlay w3-animate-opacity" onclick="closeSidebar()" style="cursor:pointer" title="Close menu" id="myOverlay"></div>

<div id="main" class="w3-main w3-display-container">
    {% include "flash_messages_frame.html" %}
    {% block content %}{% endblock %}
</div>

<script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
